@model GolfBag

<h1>Golf Bag</h1>

<p>ID: @Model.Id</p>
<p>Player: @Model.Player</p>
<p>Capacity: @Model.Capacity</p>

<h3>Clubs</h3>
<ul>
    @foreach(var club in @Model.Clubs)
    {
        <li>@club.Name</li>
    }
</ul>

<a href="/golfbags/@Model.Id/edit">Add Club</a>